.menu-ngang {
  list-style: none;
  min-height: 30px;
  display: flex;
  padding: 0px;
  width: fit-content;
}

.menu-ngang li {
  background-color: aquamarine;
  padding: 15px;
  margin: 0;
}

.menu-ngang li:hover {
  background-color: orange;
  font-weight: bold;
  color: white;
  border-radius: 5px;
}
